* {
    font-size: medium;
    font-weight: 550;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: black;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
}

/* sidebar */
.sidebar {
    margin: 5px;
    background-color: black;
    width: 350px;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: .5rem .5rem;
}

.nav-option {
    line-height: 2.5rem;
    padding-left: 10px;
    opacity: .7;
}

.nav-option:hover,
.active {
    opacity: 1;
}

.nav-option i {
    font-size: 1rem;
}

a {
    padding-left: 8px;
    text-decoration: none;
}

.library {
    overflow: auto;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #121212;
    height: 74vh;
    padding: 0px 10px;
}

.library-header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    height: 30px;
    margin-left: 10px;
    display: flex;
}

.add-option {
    width: 60px;
    display: flex;
    justify-content: space-evenly;
}

.library-logo {
    opacity: .7;
}

.lib-icon {
    height: 12px;
}

.add-option .fa-plus:hover,
.add-option .fa-arrow-right:hover {
    transform: scale(1.2);
}

.library-logo:hover {
    opacity: 1;
}

.createPlaylist,
.browseProducts {
    margin: 10px 0 20px 0;
    border-radius: 10px;
    padding: 10px 10px 25px 20px;
    background-color: #232323;
}

.browseProducts,
.createPlaylist {
    height: 100px;
}

.white-btn {
    transition: .2s;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 10px;
    font-weight: 600;
    height: 30px;
    border: none;
    border-radius: 15px;
    color: black;
    background-color: white;
}

.black-btn {
    transition: .2s;
    margin-top: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
    font-size: 10px;
    height: 30px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: black;
}

.white-btn:hover,
.black-btn:hover {
    transition: .2s;
    transform: scale(1.05);
}

.createPlaylist p,
.browseProducts p {
    font-weight: 450;
    opacity: .7;
}

/* main nav */
.main-nav {
    opacity: 1;
    background-color: #121212;
    position: sticky;
    top: 0;
    justify-content: space-between;
    height: 70px;
    display: flex;
}

.left-arrow,
.right-arrow,
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #000000;
}

.left-arrow:hover,
.right-arrow:hover,
.profile:hover {
    transform: scale(1.2);
}

.arrows {
    align-items: center;
    display: flex;
    width: 100px;
    justify-content: space-evenly;
}

.main-nav-right {
    padding: 0 20px 0 0;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 350px;
}

@media (max-width:1000px) {
    .right-arrow {
        display: none;
    }

    .explore-premium {
        display: none;
    }

    .main-nav-right {
        width: 200px;
    }
}

/* main content */
.main-content {
    height: 88.58vh;
    border-radius: 10px;
    margin: 5px 0 0 0;
    background-color: #121212;
    overflow: auto;
    flex: 1;
}

.main-home-content {
    padding: 20px;
}

/* catagory */
.row {
    flex-wrap: wrap;
    display: flex;
}

.catagory-title {
    font-size: 25px;
    font-weight: 700;
    padding: 20px 0 20px 20px;
}

/* card */
.card {
    margin: 10px 20px;
    border-radius: 10px;
    width: 13vw;
    min-width: 150px;
    background-color: #191919;
    padding: 10px;
}

.card:hover {
    background-color: #232323;
}

.card-text .card-title {
    font-weight: 700;
    font-size: medium;
    margin: 10px 0 0 0;
}

.card-info {
    font-weight: 500;
    font-size: small;
    margin: 10px 0 20px 0;
    color: rgba(255, 255, 255, 0.7);
}


.card .card-img img {
    border-radius: 10px;
    width: 100%;
}

/* music player */
.music-player {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: rgb(0, 0, 0);
}

.album {
    width: 25%;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.player-upper {
    padding-top: 20px;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.player-upper img {
    opacity: .7;
    width: 20px;
    height: 20px;
}

.player-upper img:hover {
    opacity: 1;
    transform: scale(1.2);
}

#play-btn {
    opacity: 1;
    transform: scale(2);
}

#play-btn:hover {
    transform: scale(2.4);
}

.player-bottom {
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.progress-bar {
    background: transparent;
    cursor: pointer;
    appearance: none;
    width: 85%;
}

.progress-bar::-webkit-slider-runnable-track {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    height: 6px;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    transform: translateY(-5px);
    border-radius: 10px;
    height: 16px;
    width: 16px;
    background-color: #1bd760;
}
.progress-bar2 {
    background: transparent;
    cursor: pointer;
    appearance: none;
    width: 35%;
}

.progress-bar2::-webkit-slider-runnable-track {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    height: 6px;
}

.progress-bar2::-webkit-slider-thumb {
    appearance: none;
    transform: translateY(-5px);
    border-radius: 10px;
    height: 16px;
    width: 16px;
    background-color: #1bd760;
}



.controls {
    width: 25%;
}

.player-bottom span {
    font-weight: 100;
}

.album {
    display: flex;
    justify-content: space-evenly;
}

.album-img {
    padding: 10px 10px 10px 10px;
    height: 75px;
    border-radius: 15px;
}

.playing-now {
    margin-right: 60px;
}

.now-playing-icons {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.liked {
    opacity: .7;
    height: 25px;
}

.liked:hover {
    opacity: 1;
}

.pip {
    height: 35px;
}

.song-title {
    margin: 25px 0 0 0;
}

.song-artists {
    font-size: small;
    opacity: .6;
    margin: 10px 0 0 0;
    padding: 0;
}

.controls{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.icon1{
    width: 30px;
}
.icon2{
    width: 27px;
}
.icon3{
    opacity: .65;
    width: 25px;
}
.icon4{
    opacity: .65;
    width: 25px;
}
.icon5{
    width: 30px;
}

/* footer */
.footer {
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 200px;
}

.social {
    align-items: center;
    height: 80px;
    width: 150px;
    display: flex;
    justify-content: space-around;
}

.social a i {
    opacity: .7;
    transform: scale(1.5);
}

.social a i:hover {
    opacity: 1;
}

.sub-heading {
    opacity: .7;
}

.sub-heading:hover {
    text-decoration: underline;
    opacity: 1;
}